<ion-header>
  <ion-toolbar color="danger">
    <ion-icon [routerLink]="['/tabs']" name="caret-back"></ion-icon>
    <ion-label [routerLink]="['/tabs']">Back</ion-label>
    <ion-title>Kamera Sony</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="danger" class="item-image">
   
<ion-grid color="dark">
  <ion-row>
    <ion-searchbar color="light"></ion-searchbar>
    <ion-col size="6">
      <img src="assets/icon/sonyrx10.png" width="auto" height="auto">
      <h1> Sony RX-10 </h1>
    </ion-col>
    <ion-col size="6">
      <img src="assets/icon/sonya6300.png" width="auto" height="auto">
      <h1> Sony A6300 </h1>
    </ion-col>
    
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <img src="assets/icon/sonya6000.png" width="auto" height="auto">
      <h1> Sony A6000 </h1>
    </ion-col>
    <ion-col size="5">
      <img src="assets/icon/sonyA7.png" width="auto" height="auto">
      <h1>Sony Alpha 7 </h1>
    </ion-col>
    <ion-col size="7" size-md>
      <img src="assets/icon/DSCH300.png" width="auto" height="auto">
      <h1>Sony DSCH 300</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4">
      <img src="assets/icon/Nikon24xoptical.png" width="auto" height="auto">
      <h1>Nikon 24x optical</h1>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

  