<ion-header>
  <ion-toolbar color="danger">
    <ion-icon [routerLink]="['/tabs']" name="caret-back"></ion-icon>
    <ion-label [routerLink]="['/tabs']">Back</ion-label>
    <ion-title>Kamera Nikon</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="danger" class="item-image">
   
<ion-grid color="dark">
  <ion-row>
    <ion-searchbar color="light" ></ion-searchbar>
    <ion-col size="6">
      <img src="assets/icon/nikon.png" width="auto" height="auto">
      <h1> Nikon D3000 </h1>
    </ion-col>
    <ion-col size="4">
      <img src="assets/icon/nikond4s.png" width="auto" height="auto">
      <h1> Nikon D4S </h1>
    </ion-col>
    
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <img src="assets/icon/nikond7500.png" width="auto" height="auto">
      <h1> Nikon D7500 </h1>
    </ion-col>
    <ion-col size="5">
      <img src="assets/icon/coolpixb500.png" width="auto" height="auto">
      <h1>Nikon Coolpix B500</h1>
    </ion-col>
    <ion-col size="7" size-md>
      <img src="assets/icon/nikond3100.png" width="auto" height="auto">
      <h1>Nnikon D3100</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4">
      <img src="assets/icon/Nikon24xoptical.png" width="auto" height="auto">
      <h1>Nikon 24x optical</h1>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content> 

  