<ion-header>
  <ion-toolbar color="danger">
    <ion-icon [routerLink]="['/tabs']" name="caret-back"></ion-icon>
    <ion-label [routerLink]="['/tabs']">Back</ion-label>
    <ion-title>Kamera Canon</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="danger" class="item-image">
   
<ion-grid color="dark">
  <ion-row>
    <ion-searchbar color="light" ></ion-searchbar>
    <ion-col size="6">
      <img src="assets/icon/canon.png" width="auto" height="auto">
      <h1> Canon 1300D </h1>
    </ion-col>
    <ion-col size="6">
      <img src="assets/icon/canon5d.png" width="auto" height="auto">
      <h1> Canon 5D </h1>
    </ion-col>
    
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <img src="assets/icon/canon6d.png" width="auto" height="auto">
      <h1> Canon 6D </h1>
    </ion-col>
    <ion-col size="5">
      <img src="assets/icon/canon1100d.png" width="auto" height="auto">
      <h1>Canon 1100D </h1>
    </ion-col>
    <ion-col size="7" size-md>
      <img src="assets/icon/canonM3.png" width="auto" height="auto">
      <h1>Canon M3</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4">
      <img src="assets/icon/canont41.png" width="auto" height="auto">
      <h1>Canon T41</h1>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content> 

  