ion-content ion-toolbar {
  --background: translucent;
}
ion-card{
   //border-radius: 50%;
  color: rgb(214, 40, 40);
  width: 300px;
  height: 45px;
  background:linear-gradient(100deg, rgb(219, 66, 66), rgb(123, 134, 158));
 }


 