<ion-header>
  <ion-toolbar>
    <ion-title>sony_details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/icon/nikon.png" width="auto" height="auto">
    <ion-card-header>
      <ion-card-subtitle>Nikon D850</ion-card-subtitle>
      <ion-card-title>Rp.700.000/Day</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      45.7MP FX-Format BSI CMOS Sensor.
      EXPEED 5 Image Processor.
      3.2″ 2.36m-Dot Tilting Touchscreen LCD.
      4K UHD Video Recording at 30 fps.
      Native ISO: 64-25600,Extended: 32-102400.
      8K Time-Lapse, Negative Digitizer Mode.
      SnapBridge Bluetooth dan Wi-Fi.
      Lensa AF-S Nikkor 24-120mm f/4G ED VR.
    </ion-card-content>
  </ion-card>

</ion-content>
